* {
  box-sizing: border-box;
  margin: 2px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

.header-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header-container header {
  text-align: center;
  margin: 0;
  padding: 0;
}

.header-container header img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
}

.header-container nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background: linear-gradient(to right, #f7f8f5, #f9faec, #ebf3ce);
  margin: 0;
  border-bottom: 12px solid black;
}

.header-container nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.header-container nav ul li {
  display: inline;
}

.header-container nav ul li a {
  color: #333;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
}

.header-container nav ul li a:hover {
  text-decoration: underline;
}

/* Product List Styles*/
.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  /* border: 2px solid black; */
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, #f7f8f5, #f9faec, #ebf3ce);
}

.product-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.product-box {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 900px;
  display: flex;
  align-items: center;
  text-align: left;
}

.product-image {
  width: 150px;
  height: 250px;
  object-fit: cover;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-title {
  font-size: 18px;
  margin: 10px 0;
}
.product-description {
  font-size: 14px;
  color: #555;
  text-align: center;
  margin: 10px 0;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}

.product-box a {
  color: inherit;
  text-decoration: underline;
}

/* Check out component */

/* Product Details component */

/* Product list component */

/* Shopping cart component */

/* Shopping Context component */
